.error {
    &__block {
        margin: 0 auto;
        padding: 30px;
    }

    &__img {
        display: block;
        width: 250px;
        height: 250px;
        margin: 20px auto;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    &__back {
        display: block;
    }
}
